.dvt/
*.log

# Don't track syn and pwr because it's confidential
syn/
pwr/
lint/

# Don't track dependency repos. TODO: add as submodules later
common_cells/
axi-0.39.1-beta/
cvfpu/
tech_cells_generic-master/